{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "auto",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,

  "tailwindConfig": "./tailwind.config.js",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],

  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(app|entities|features|pages|shared|widgets)$",
    "^\\.\\.(?:/|$)",
    "^\\.(?:/|$)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
